@import "https://fonts.googleapis.com/css2?family=Inter&display=swap";
html {
  padding: 0em 2em 0em 2em;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

html,
body {
  font-family: Inter;
  color: #ffffff;
  background-color: #070d18;
}

.dashboard-wrapper {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(1em, auto));
  grid-template-columns: repeat(auto-fit, minmax(12em, auto));
  grid-template-areas: "nav nav nav nav nav nav" "back back back back back back" "ipl ipl ipl gaps upload upload" "details details details details details details" "events events events events events events" "content content content content content content";
}

.gap-wrapper {
  grid-area: gaps;
}

.detail-wrapper {
  margin-top: 2em;
  grid-area: details;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, auto));
  grid-template-rows: repeat(auto-fit, minmax(1fr, auto));
  background-color: #0e192d;
  border-radius: 10px;
  padding: 1em;
  grid-row-gap: 3em;
}

.detail-wrapper > div > p:nth-of-type(1) {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #85859b;
}

.detail-wrapper > div > p:nth-of-type(2) {
  padding-top: 0.5em;
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.navbar {
  display: flex;
  flex-direction: row;
  grid-area: nav;
}
.navbar img {
  height: 2em;
  width: auto;
}
.navbar h2 {
  color: #ffffff;
}

.navbar > div:nth-of-type(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar > div:nth-of-type(1) p {
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-left: 0.5em;
}

.navbar > div:nth-of-type(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  color: #85859b;
}
.navbar > div:nth-of-type(2) p {
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #85859b;
  padding-right: 0.5em;
}
.navbar > div:nth-of-type(2) img {
  padding-right: 1em;
}

.back-button {
  grid-area: back;
  display: flex;
  color: #85859b;
  padding-top: 1.5em;
}
.back-button p {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b9b9c8;
  padding-left: 0.5em;
}

.info-wrapper {
  grid-area: ipl;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  padding-top: 1.5em;
}
.info-wrapper hr {
  border: 1px solid #44445a;
}

.info-wrapper > p:nth-of-type(1) {
  font-family: Inter;
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 0.5em;
  color: #ffffff;
}

.info-wrapper > div {
  display: flex;
  justify-content: space-between;
}
.info-wrapper > div img {
  width: auto;
  height: 1em;
}

.info-wrapper > div > p:nth-of-type(1) {
  font-family: Inter;
  font-size: 1.8em;
  font-weight: 600;
  color: #ffffff;
}

.info-wrapper > p:nth-of-type(2) {
  font-family: Inter;
  font-size: 0.9em;
  line-height: 1.4;
  color: #85859b;
}
.info-wrapper > p:nth-of-type(2) span {
  color: #5ddbee;
}

.upload-wrapper {
  padding: 1em;
  grid-area: upload;
  border-radius: 5px;
  border: dashed 2px #979797;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.upload-wrapper button {
  border: transparent;
  background-color: rgba(93, 219, 238, 0.1);
  color: #5ddbee;
  border-radius: 5px;
  padding: 9.2px 29.8px 11.2px 29.8px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.upload-wrapper p {
  text-align: center;
  color: #85859b;
  margin-block-end: 1em;
}

.upload-wrapper > p:nth-of-type(1) {
  text-align: center;
  color: #ffffff;
}

.events-wrapper {
  grid-area: events;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  grid-auto-flow: row;
  flex-wrap: wrap;
}

.events-wrapper > div {
  border-radius: 50px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 1em;
  background-color: rgba(133, 133, 155, 0.1);
  display: flex;
  align-items: center;
  margin-right: 1em;
}
.events-wrapper > div img {
  height: 1em;
  width: auto;
  padding-right: 1em;
}
.events-wrapper > div p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #85859b;
}

.events-wrapper > div:nth-of-type(2) {
  border-radius: 50px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 1em;
  background-color: rgba(133, 133, 155, 0.1);
  display: flex;
  align-items: center;
  margin-right: 1em;
}
.events-wrapper > div:nth-of-type(2) img {
  height: 1em;
  width: auto;
  padding-right: 1em;
}
.events-wrapper > div:nth-of-type(2) p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5ddbee;
}

.content-wrapper {
  padding: 2.5rem 12rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0e192d;
  grid-area: content;
  border-radius: 5px;
}
.content-wrapper h3 {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.content-wrapper p {
  color: #85859b;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
}
.content-wrapper div {
  margin-top: 1em;
  justify-content: space-around;
  display: flex;
  background-color: rgba(93, 219, 238, 0.1);
  border-radius: 5px;
  padding: 0.5em;
}
.content-wrapper div p {
  padding-left: 0.5em;
  color: #5ddbee;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.search-bar {
  display: flex;
  grid-area: search;
}

.search-bar > div {
  display: flex;
  margin-left: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.search-bar > div p {
  padding-left: 0.5em;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5ddbee;
}

.search-bar > input {
  border-radius: 5px;
  background-color: #091222;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border: transparent;
}

.filter-bar {
  grid-area: sort;
  display: flex;
}
.filter-bar hr {
  border: 1px solid #44445a;
}

.filter-bar > div {
  margin-left: auto;
}

.team-group {
  display: grid;
  grid-area: cards;
  grid-template-columns: repeat(auto-fill, minmax(10em, auto));
  grid-template-rows: repeat(auto-fill, minmax(5em, auto));
  grid-gap: 2em;
  padding-top: 2em;
}

.team-group > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #1c2b47;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  border-radius: 5px;
}

.team-group > div > div {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: linear-gradient(
    to top,
    #a4b3bd,
    #a4b3bd,
    #a4b3bd,
    #ffffff,
    #ffffff
  );
}

.team-group > div > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.team-group > div > p:nth-of-type(1) {
  font-size: 0.9em;
  color: #85859b;
  margin-top: 1em;
}

.team-group > div > p:nth-of-type(2) {
  font-size: 0.9em;
  color: #ffffff;
  margin-top: 0.6em;
}

.team-group > div > p:nth-of-type(3) {
  font-size: 0.8em;
  color: #85859b;
  margin-top: 0.6em;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow-y: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  border: transparent;
  border-radius: 5px;
  background-color: #1c2b47;
  margin: 4% auto;
  /* 15% from the top and centered */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, auto));
  grid-template-rows: repeat(auto-fit, minmax(1em, auto));
  width: 60%;
  /* Could be more or less, depending on screen size */
  grid-column-gap: 1em;
  grid-template-areas: "headers" "bars" "selectteam" "searchbar" "bar" "subhead" "teams" "footer";
}

.select-team {
  padding: 0.5em 2em 0.5em 2em;
  grid-area: selectteam;
}
.select-team p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
}

.sub-head {
  grid-area: subhead;
  padding: 0.5em 2em 0.5em 2em;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
}

.sub-head > p:nth-of-type(1) {
  justify-self: start;
}

.sub-head > p:nth-of-type(2) {
  justify-self: flex-end;
  color: #85859b;
}
.sub-head > p:nth-of-type(2) span {
  color: #ffffff;
}

.sub-head > p:nth-of-type(2) > p {
  justify-self: flex-end;
}

.modal-bars {
  grid-area: bars;
}
.modal-bars hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-bar {
  grid-area: bar;
  padding: 0.5em 2em 0.5em 2em;
}
.modal-bar hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-header {
  grid-area: headers;
  display: grid;
  grid-template-columns: 0.9fr 0.1fr;
  padding-top: 1em;
}
.modal-header hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-header > p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  justify-self: center;
}

.modal-search-bar {
  display: flex;
  grid-area: searchbar;
  padding: 0.5em 2em 0.5em 2em;
}
.modal-search-bar img {
  margin-left: auto;
  padding-right: 0.5em;
  width: auto;
  height: 1em;
  align-self: center;
}
.modal-search-bar p {
  color: #5ddbee;
  align-self: center;
}

.modal-search-bar > input {
  border-radius: 5px;
  background-color: #091222;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border: transparent;
  padding-left: 2em;
  background-image: url("/assets/search.png");
  background-position: 7px 7px;
  background-repeat: no-repeat;
}

.modal-teams {
  overflow-y: auto;
  /* Enable scroll if needed */
  grid-area: teams;
  padding: 0.5em 2em 0.5em 2em;
}

.modal-footer {
  padding: 0.5em 2em 0.5em 2em;
  grid-area: footer;
  justify-self: flex-end;
}
.modal-footer button {
  background: linear-gradient(to top, #5ddbee, #2280b8);
  border: transparent;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 4px;
}
.modal-footer button p {
  font: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-teams {
  display: grid;
  grid-area: teams;
  grid-template-columns: repeat(auto-fit, minmax(8em, auto));
  grid-template-rows: repeat(auto-fit, minmax(1em, auto));
  grid-auto-rows: 10%;
  grid-gap: 2em;
  padding-top: 2em;
  min-height: 10em;
}

.modal-teams > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #0e192d;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  border-radius: 5px;
}

.modal-teams > div > div {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: linear-gradient(
    to top,
    #a4b3bd,
    #a4b3bd,
    #a4b3bd,
    #ffffff,
    #ffffff
  );
}

.modal-teams > div > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-teams > div > p:nth-of-type(1) {
  font-size: 0.9em;
  color: #85859b;
  margin-top: 1em;
}

.modal-teams > div > p:nth-of-type(2) {
  font-size: 0.9em;
  color: #ffffff;
  margin-top: 0.6em;
}

.modal-teams > div > p:nth-of-type(3) {
  font-size: 0.8em;
  color: #85859b;
  margin-top: 0.6em;
}

/*# sourceMappingURL=style.css.map */
